/* Global Styles */
body,
html {
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", sans-serif;
	background-color: #000;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", serif;
	font-weight: 700;
}

h1 {
	text-align: center;
	margin-bottom: 2rem;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #da6e65;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 20px;
}

/* Header and Navigation */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	z-index: 1001;
}

.logo {
	flex-shrink: 0;
}

.logo img {
	/* Adjust size as needed */
	width: 50px;
	height: 50px;
}

.top-menu .logo {
	display: flex;
	align-items: left;
}

.top-menu .logo img {
	width: 80px;
	height: 80px;
	object-fit: contain;
}

.menu-items {
	list-style-type: none;
	padding: 0;
	margin: 20px 0;
	display: none;
}

.menu-items li {
	margin: 10px 0;
}

.menu-items li a {
	color: #da6e65;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: color 0.3s ease;
}

.menu-items li a:hover,
.menu-items li a.current {
	color: #ffffff;
}

.menu-items.show {
	display: block;
}

.menu-items a {
	color: #e17e73;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

/* Burger menu styles */
.burger-menu {
	display: none;
	cursor: pointer;
	z-index: 1000;
}

.burger-menu div {
	width: 25px;
	height: 3px;
	background-color: #da6e65;
	margin: 5px 0;
	transition: 0.4s;
}

/* Burger menu animation */
.burger-menu.active div:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.active div:nth-child(2) {
	opacity: 0;
}

.burger-menu.active div:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* Main Content */
main {
	padding: 2rem;
}

.main-index {
	padding: 0;
}

/* Hero Section */
.hero {
	position: relative;
	height: 70vh;
	display: flex;
	align-items: flex-end;
	padding: 50px;
	color: white;
	overflow: hidden;
}

.video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-background video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.hero-content {
	position: relative;
	z-index: 1;
	max-width: 600px;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
	font-weight: bold;
}

.hero p {
	font-size: 18px;
	margin-bottom: 30px;
}

.hero,
main,
footer {
	position: relative;
	z-index: 1;
}

/* CTA Buttons */
.cta-buttons {
	display: flex;
	gap: 10px;
}

.cta-button {
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}

.cta-button.primary {
	background-color: #da6e65;
	color: white;
}

.cta-button.secondary {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Trainer Info and Memberships */
#trainer-info,
#membership-info,
#testimonials {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

#memberships {
	padding: 50px 20px;
}

#memberships h2 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 2.5em;
}

/* Membership Styles */
.membership-grid {
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 1200px;
	margin: 0 auto;
}

.membership-item {
	display: flex;
	align-items: center;
	gap: 40px;
}

.membership-content {
	flex: 1;
	max-width: 50%;
}

.membership-image {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.membership-content h3 {
	font-size: 1.8em;
	margin-bottom: 10px;
}

.membership-content p {
	font-size: 1.1em;
	line-height: 1.5;
}

.membership-image img {
	max-width: 100%;
	max-height: 400px;
	object-fit: contain;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membership-item.image-left {
	flex-direction: row-reverse;
}

.membership-grid-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 70px;
	padding: 20px;
}

.membership-option-2 {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	color: rgb(255, 255, 255);
	position: relative;
	border: 2px solid #ffffff;
	transition: transform 0.3s ease-in-out;
	height: 100%;
}

.membership-option-2:hover {
	transform: scale(1.05);
}

.membership-option-2 img {
	width: 50px;
	height: 50px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.membership-option-2 h2 {
	font-size: 1.2em;
	margin-bottom: 15px;
}

.membership-option-2 ul {
	text-align: left;
	color: rgb(255, 255, 255);
	flex-grow: 1;
}

.membership-option-2 li {
	margin-bottom: 10px;
}

.membership-option-2.highlighted {
	border: 2px solid #e63946;
}

.membership-option-2.best-value {
	border: 2px solid #4caf50;
}

.banner {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 0.8em;
}

.best-value .banner {
	background-color: #4caf50;
}

.more-info-btn {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: auto;
	background-color: #da6e65;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.more-info-btn:hover {
	background-color: #0056b3;
}

/* About Me */
.main-aboutme {
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.about-content {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
}

.image-container {
	flex: 1;
	max-width: 50%;
}

.image-container img {
	margin-top: 20px;
	width: 80%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
	margin-left: 15%;
}

.text-container {
	flex: 1;
}

.background-education {
	margin: 0 auto;
	padding: 20px;
	color: #ffffff;
}

.expertise-item h3 {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: normal;
	font-style: italic;
}

.expertise-item p {
	font-size: 14px;
	line-height: 1.4;
}

/* Contact */
.contact-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

#contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

input,
textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #f8f8f8;
	color: #333;
}

textarea {
	height: 150px;
	resize: vertical;
}

button[type="submit"] {
	align-self: flex-start;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #c62828;
}

/* FAQ */
.faq-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.faq-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.faq-item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 15px 0;
}

.faq-item h2 {
	font-size: 18px;
	margin: 0;
	padding-right: 30px;
	position: relative;
	cursor: pointer;
	transition: color 0.3s ease;
}

.faq-item h2::after {
	content: "+";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	color: #ffffff;
	transition: transform 0.3s ease;
}

.faq-item h2.open::after {
	content: "-";
	transform: translateY(-50%) rotate(180deg);
}

.faq-item p {
	margin-top: 10px;
	font-size: 16px;
	max-height: 1000px;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
	opacity: 1;
}

.faq-item p.hidden {
	max-height: 0;
	margin-top: 0;
	opacity: 0;
}

/* Footer */
footer {
	padding: 40px 20px;
	font-family: "Roboto", sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-social {
	display: flex;
	align-items: center;
}

.footer-social a {
	margin-right: 15px;
}

.footer-social img {
	width: 30px;
	height: 30px;
}

.trustpilot-widget {
	text-align: center;
	margin: 0 20px;
}

.footer-bottom {
	text-align: right;
}

.footer-bottom ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-bottom li {
	margin-bottom: 5px;
	font-size: 12px;
	color: #ffffff;
}

.footer-bottom img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.footer-bottom a {
	color: #ffffff;
	text-decoration: none;
}

#logo-footer {
	width: 25px;
	height: auto;
	vertical-align: middle;
	margin: 0 5px;
}

/* Media Queries */
@media (max-width: 1200px) {
	.membership-grid-2 {
		grid-template-columns: repeat(2, 1fr);
		gap: 70px;
	}
}

@media (max-width: 1024px) {
	.menu-items {
		margin-top: 10px;
	}

	.hero h1 {
		font-size: 42px;
	}

	.hero p {
		font-size: 16px;
	}

	#trainer-info,
	#membership-info,
	#testimonials {
		padding-left: 5%;
		padding-right: 5%;
	}

	.membership-item {
		flex-direction: column;
	}

	.membership-content,
	.membership-image {
		max-width: 100%;
		width: 100%;
	}

	.membership-image {
		order: -1;
	}

	.membership-image img {
		max-height: 350px;
	}
}

@media screen and (min-width: 769px) {
	.menu-items {
		display: none;
	}

	.menu-items li {
		margin-left: 20px;
	}

	.burger-menu {
		display: block;
	}
	.menu-items.show {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 25%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		justify-content: center;
		align-items: center;
		z-index: 999;
	}
}

@media screen and (max-width: 768px) {
	.top-menu ul {
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.top-menu ul li {
		margin: 10px 0;
	}

	.top-menu ul li a {
		font-size: 16px;
	}

	.hero {
		height: auto;
		min-height: 35vh; /* Ensure the hero section takes at least the full viewport height */
		padding: 30px;
		display: flex;
		justify-content: center;
	}

	.video-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.video-background video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.hero-content {
		position: absolute;
		bottom: 0;
		justify-content: center;
		width: 50%;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		text-align: center;
		z-index: 1;
		border-radius: 2%;
	}

	.hero h1 {
		font-size: 36px;
	}

	.hero p {
		font-size: 14px;
	}

	.cta-buttons {
		flex-direction: column;
		align-items: stretch;
	}

	.cta-button {
		margin-bottom: 10px;
	}

	#trainer-info,
	#membership-info,
	#testimonials {
		padding-left: 3%;
		padding-right: 3%;
	}

	.membership-grid {
		gap: 70px;
	}

	.membership-item,
	.membership-item:nth-child(even) {
		flex-direction: column;
	}

	.membership-image {
		order: -1;
	}

	.membership-content h3 {
		font-size: 1.5em;
	}

	.membership-content p {
		font-size: 1em;
	}

	.membership-image img {
		max-height: 250px;
	}

	.about-content {
		flex-direction: column;
		align-items: center;
	}

	.image-container {
		margin-bottom: 1rem;
	}

	.footer-content {
		flex-direction: column;
		align-items: center;
	}

	.footer-social {
		margin-bottom: 20px;
	}

	.trustpilot-widget {
		margin: 20px 0;
	}

	.footer-bottom {
		text-align: center;
	}

	.membership-grid-2 {
		grid-template-columns: 1fr;
		gap: 70px;
		padding: 20px;
	}

	.membership-option-2 {
		padding: 30px;
		margin-bottom: 0;
		max-width: 100%;
	}

	.membership-option-2 h2 {
		font-size: 1.4em;
	}

	.membership-option-2 ul {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.membership-option-2 li {
		text-align: center;
	}

	.more-info-btn {
		padding: 15px;
		font-size: 1em;
	}

	.banner {
		font-size: 0.8em;
		padding: 5px 10px;
	}

	.contact-container {
		padding: 10px;
	}

	.burger-menu {
		display: block;
	}

	.menu-items.show {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 25%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		justify-content: center;
		align-items: center;
		z-index: 999;
	}

	.menu-items li {
		margin: 10px 0;
	}

	.text-container{
		text-align: center;
	}
}

@media (max-width: 480px) {
	.hero h1 {
		font-size: 32px;
	}

	.hero p {
		font-size: 13px;
	}

	.membership-content h3 {
		font-size: 1.3em;
	}

	.membership-content p {
		font-size: 0.9em;
	}

	.membership-image img {
		max-height: 200px;
	}

	.membership-grid-2 {
		gap: 70px;
		padding: 15px;
	}

	.membership-option-2 {
		padding: 20px;
		margin-bottom: 30px;
	}

	.membership-option-2 h2 {
		font-size: 1.3em;
	}

	.membership-option-2 li {
		font-size: 0.95em;
	}

	.more-info-btn {
		padding: 12px;
		font-size: 0.95em;
	}

	.membership-option-2 img {
		width: 45px;
		height: 45px;
	}

	.menu-items.show {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 25%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		justify-content: center;
		align-items: center;
		z-index: 999;
	}
}

/* Additional utility classes */
.divider {
	width: 1px;
	background-color: #ffffff;
	margin: 0 20px;
}

.education-item {
	padding: 20px;
}
